.header{
	border:1px solid #333;
	width:820px;
	margin-left:auto;
	margin-right:auto;
	}

div {
	display:block;
}
.date{
	float:left;
	width:200px;
	margin-top:20px;
	color:#B0B0B0;
	font-size:12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}

div.nav{
text-align: right;
float:right;
Padding:1px;
margin:1px 0 1px 0;
}

div.nav ul li {
display:inline;
margin:0;
padding: 0 8px 0;
font-size: 12px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a{
	text-decoration:none;
	color: #369;
}

div.container{
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
	width:820px;
	padding:0;
}
div.headlines{
	margin-left:auto;
	margin-right:auto;
	width:825px;
	display:block;
	padding: 1px;
	
	
}

h1 {
font-weight: 500;
font-style: normal;
font-size: 58px;
clear: both;
line-height: 1.0em;
margin-bottom: 20px;
letter-spacing: -2px;
color: #232323;
}

body.index h5{
font-size: 20px;
font-weight: 500;
margin: 10px 0;
}

h5 {
display: block;
font-weight: bold;
}

body {
text-align: center;
color: #222;
}

body.index a.hover_target:hover div.product {
display: block;
}


body.index a.box {
width: 160px;
margin: 15px 20px 5px;
float: left;
border: 1px solid #E8E8E8;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-box-shadow: 0 0 5px #EFEFEF;
-moz-box-shadow: 0 0 5px #efefef;
box-shadow: 0 0 5px #EFEFEF;
padding: 20px 10px 10px;
text-decoration: none;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EFEFEF));
background: -moz-linear-gradient(top, white, #EFEFEF);
}


#products {
	text-align: center;
	width: 650px;
	margin: 0px auto;

}

#products ul{
	list-style: none;
}

#products li{
	float: left;
}

#products a{
	text-decoration: none;
}

#products a h1{
	color: blue;	
	font-size: 24px;
	text-decoration: none;
}

#products a{
	color: black;
}

.product-id {

 	background: linear-gradient(#ffffff, #DEDEDE);
	padding: 40 30 6px;
	height: 320px;
	width: 180px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	margin: 0px 5px;
	border-color: #D8D8D8;
	text-align: center;
	font-family: helvetica;
	font-size: 11px;




#break {
	margin-right: 10px;
	margin-left: 0;
	padding: 150px;
}

<img src="/images/arrow-left.png" width="69" height="69" class="arrow">
	
